@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  overflow-y: auto;
}

#root {
}


@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

.bg-scroll {
  background-image: url('../assets/images/login-background.jpg'), url('../assets/images/login-background.jpg'); /* Ảnh nền */
  background-size: contain; /* Chiều cao mỗi ảnh */
  background-repeat: repeat-y; /* Lặp theo chiều dọc */
  animation: scrollBackground 5s linear infinite; /* Animation chạy mãi mãi */
  background-position: 0 0, 0 100%;
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
} */