@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  overflow-y: auto;
}

#root {}

div[data-slot='input-wrapper']:has(input[data-readonly="true"]) {
  background-color: #ccc !important;
  cursor: not-allowed;
}
input[data-readonly="true"] {
  cursor: not-allowed;
}